*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0%;
    /* background-image: url(pexels-pixabay-268533.jpg); */
}
.bg{
    background: url(pexels-pixabay-268533.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    filter: blur(10px);
    /* position: absolute; */
}
.load-text{
    font-size: 50px;
    color: rgb(212, 162, 26);
}
.load-name{
    font-size: 100px;
    font-family: monospace;
    color: rgb(212, 125, 26);
}